doctype html
html
    head
        title Settings - YouTube Whitelister for uBlock Origin
        if(development)
            
        else
            base(href="/")
        link(rel="stylesheet", href="lib/font-awesome-5/css/fontawesome-all.min.css")
        link(rel="stylesheet", href="lib/bootstrap.min.css")
        link(rel="stylesheet" href="settings.css")
        link(rel="icon", href="img/icon_16.png")
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        

        if(development)
            script(type="text/javascript", src="lib/react.development.js")
            script(type="text/javascript", src="lib/react-dom.development.js")
            script(type="text/javascript", src="devel.js")
        else
            script(type="text/javascript", src="/lib/react.production.min.js")
            script(type="text/javascript", src="/lib/react-dom.production.min.js")
        script(type="text/javascript", src="popup.js")
    body
        #root