/******* Whitelist Button CSS  *******/
:root {
    /* #43A047 */
    /* #6200ee */
    --UBO-primary: #43A047;
}

.UBO-wl-btn.UBO-old {
    margin-left: 5px;
    padding: 0 5.5px 0px 6px !important;
}

.UBO-wl-btn.hidden,
.UBO-menu.hidden {
    display: none;
}

.UBO-wl-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 2px;
}

.UBO-wl-btn.UBO-wl-poly:not(.yt-uix-button-toggled) {
    border-color: var(--UBO-primary);
    background-color: transparent;
    color: var(--UBO-primary);
    opacity: 0.7;
    border-style: solid;
    border-width: 1px;
}

.UBO-wl-btn.UBO-wl-poly:not(.yt-uix-button-toggled) .UBO-icon {
    display: none;
}

.UBO-wl-btn.UBO-wl-poly {
    font-family: Roboto, Noto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1.4rem;
    line-height: 2.25rem;
    font-weight: 500;
    letter-spacing: .007px;
    text-decoration: none;
    text-transform: uppercase;

    padding: 0 15px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;

    min-width: 64px;
    height: 37px;
    border: none;
    outline: none;
    line-height: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    overflow: hidden;
    vertical-align: middle;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color .5s cubic-bezier(.4, 0, .2, 1);
    transition: border .28s cubic-bezier(.4, 0, .2, 1);
    transition: opacity .28s cubic-bezier(.4, 0, .2, 1);
}

.UBO-wl-btn.UBO-wl-poly.yt-uix-button-toggled {
    /* -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12); */
    background-color: var(--UBO-primary);
    color: var(--mdc-theme-on-primary, #fff);
}

.UBO-wl-btn.UBO-wl-poly:hover {
    opacity: 1;
}

/* html[dark] .UBO-wl-btn.UBO-wl-poly {
    color: rgba(255, 255, 255, 0.26);
}

html[dark] .UBO-wl-btn.UBO-wl-poly.yt-uix-button-toggled {
    color: rgba(255, 255, 255, 0.498);
} */

/******** AdOptions button CSS   ******/

.UBO-ads-btn {
    visibility: visible;
    display: none;
    overflow: visible !important;
    position: relative;
}

.UBO-ads-btn.hidden {
    visibility: hidden;
}

#movie_player.ad-interrupting .UBO-ads-btn {
    display: inline-block !important;
}

.UBO-ads-btn .BLK-container {
    height: 100%;
    width: 100%;
    position: relative
}

.UBO-ads-btn .UBO-icon-container {
    height: 36px;
    width: 36px;
}

.UBO-ads-btn .UBO-icon-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
}

.UBO-ads-tooltip {
    background-color: rgba(28, 28, 28, 0.9);
    color: rgb(238, 238, 238);
    text-align: center;
    border-radius: 2px;
    padding: 5px 9px;
    position: absolute;
    z-index: 1001;
    font-weight: 500;
    line-height: 15px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity .5s;
}

.UBO-ads-btn .UBO-ads-tooltip {
    visibility: hidden;
    left: 50%;
    transform: translateX(-50%);
    bottom: 140%;
}

.UBO-ads-btn:hover .UBO-ads-tooltip,
.UBO-ads-tooltip.force-show {
    visibility: visible;
    opacity: 1;
}

/****** AdOptions Menu CSS *****/

.UBO-menu {
    position: absolute;
    z-index: 1200;
    width: 195px;
    background-color: rgba(28, 28, 28, 0.9);
    color: rgb(238, 238, 238);
    border-radius: 2px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.UBO-menu-item {
    display: block;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    width: 100%;
    height: 33px;
    font-weight: 500;
    font-size: 118%;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "YouTube Noto", Roboto, Arial, Helvetica, sans-serif;
}

#movie_player.ytp-big-mode .UBO-menu {
    width: 294px;
}

#movie_player.ytp-big-mode .UBO-menu-item {
    height: 49px;
}

.UBO-menu-item:enabled {
    color: rgb(238, 238, 238);
    cursor: pointer;
}

.UBO-menu-item:disabled {
    color: rgb(126, 123, 123);
    cursor: default;
}

.UBO-menu-item .UBO-ads-tooltip {
    visibility: hidden;
    right: 105%;
    bottom: auto;
}

.UBO-menu-item:hover:enabled {
    background-color: rgba(255, 255, 255, .1);
}

.UBO-menu-item:hover .UBO-ads-tooltip {
    visibility: visible;
    opacity: 1;
}

.UBO-icon {
    display: inline-block;
    height: 50%;
    margin-right: 5px;
    vertical-align: -4px;
}

/* Replicate .ytp-ad-module */
.ytp-ubo-ad-module {
    height: 100%;
    width: 100%;
}

.force-hide {
    display: none !important;
}