/******* Whitelist Button CSS  *******/

.UBO-wl-btn.UBO-old {
    margin-left: 5px;
    padding: 0 5.5px 0px 6px !important;
}

.UBO-wl-btn.hidden,
.UBO-menu.hidden {
    display: none;
}

.UBO-wl-btn.UBO-wl-poly {
    margin-top: 7px;
    color: rgba(17, 17, 17, 0.298);
    outline: none;
    background: transparent;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    font-family: "YouTube Noto", Roboto, Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.007px;
    text-transform: uppercase;
    border-radius: 2px;
    white-space: nowrap
}

.UBO-wl-btn.UBO-wl-poly.yt-uix-button-toggled {
    color: rgba(17, 17, 17, 0.6);
    border-bottom: 2px solid darkseagreen;
    padding-bottom: 8px;
}

html[dark] .UBO-wl-btn.UBO-wl-poly {
    color: rgba(255, 255, 255, 0.26);
}

html[dark] .UBO-wl-btn.UBO-wl-poly.yt-uix-button-toggled {
    color: rgba(255, 255, 255, 0.498);
}

/******** AdOptions button CSS   ******/

.UBO-ads-btn {
    visibility: visible;
    display: none;
    overflow: visible;
    position: relative;
}

.UBO-ads-btn.hidden {
    visibility: hidden;
}

#movie_player.ad-interrupting .UBO-ads-btn {
    display: inline-block !important;
}

.UBO-ads-btn .BLK-container {
    height: 100%;
    width: 100%;
    position: relative
}

.UBO-ads-btn .UBO-icon-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
}

.UBO-ads-tooltip {
    background-color: rgba(28, 28, 28, 0.9);
    color: rgb(238, 238, 238);
    text-align: center;
    border-radius: 2px;
    padding: 5px 9px;
    position: absolute;
    z-index: 1001;
    font-weight: 500;
    line-height: 15px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity .5s;
}

.UBO-ads-btn .UBO-ads-tooltip {
    visibility: hidden;
    left: 50%;
    transform: translateX(-50%);
    bottom: 140%;
}

.UBO-ads-btn:hover .UBO-ads-tooltip {
    visibility: visible;
    opacity: 1;
}

/****** AdOptions Menu CSS *****/

.UBO-menu {
    position: absolute;
    z-index: 1200;
    width: 195px;
    background-color: rgba(28, 28, 28, 0.9);
    color: rgb(238, 238, 238);
    border-radius: 2px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.UBO-menu-item {
    display: block;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    width: 100%;
    height: 33px;
    font-weight: 500;
    font-size: 118%;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "YouTube Noto", Roboto, Arial, Helvetica, sans-serif;
}

#movie_player.ytp-big-mode .UBO-menu {
    width: 294px;
}

#movie_player.ytp-big-mode .UBO-menu-item {
    height: 49px;
}

.UBO-menu-item:enabled {
    color: rgb(238, 238, 238);
    cursor: pointer;
}

.UBO-menu-item:disabled {
    color: rgb(126, 123, 123);
    cursor: default;
}

.UBO-menu-item .UBO-ads-tooltip {
    visibility: hidden;
    right: 105%;
    bottom: auto;
}

.UBO-menu-item:hover:enabled {
    background-color: rgba(255, 255, 255, .1);
}

.UBO-menu-item:hover .UBO-ads-tooltip {
    visibility: visible;
    opacity: 1;
}

.UBO-icon {
    display: inline-block;
    height: 50%;
    margin-right: 5px;
    vertical-align: -4px;
}