* {
    font-family: "fa5-proxima-nova";
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control-sm {
    height: calc(1.8125rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    margin-left: 2px;
    margin-right: 2px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn:focus {
    outline: 0;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.font-weight-bold-sm {
    font-weight: 700;
}

/*  disable coz it doesn't fit neatly in the popup and icbf to fix
.btn-primary:focus{
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.5);
}
.btn-secondary:focus{
    box-shadow: 0 0 0 .2rem rgba(108,117,125,.5);
}
.btn-danger:focus{
    box-shadow: 0 0 0 .2rem rgba(220,53,69,.5);
}
*/

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-secondary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-danger:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d;
}

.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

body {
    background-color: #EEEEEE;
    font-family: "fa5-proxima-nova", "Segoe UI", Tahoma, sans-serif;
    font-size: 80%;
    margin: 0px;
}

.main {
    width: 300px;
    height: 300px;
    overflow-y: auto;
    position: relative;
    margin: 8px;
}

.channel-search {
    width: 300px;
    height: 300px;
    overflow-y: auto;
    position: relative;
    margin: 8px;
}

.table-container {
    width: 100%;
    min-height: 230px;
}

table {
    width: 100%;
}

.refresh {
    color: blue !important;
}

.refresh:active {
    color: grey !important;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

/* .text-danger {
    color: #dc3545 !important
}*/

button.btn-link {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    /*border is optional*/
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

.btn-link:hover {
    text-decoration: underline;
}

.text-danger {
    color: red !important;
    float: right;
}

.d-none {
    display: none;
}

.m-0 {
    margin: 0 !important;
}

.p-0 {
    padding: 0 !important;
}

#search::-ms-clear {
    display: none;
}

.channel-search-header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.modal-search-feedback {
    position: absolute;
    right: 1rem;
    top: calc(50% - .5rem);
    pointer-events: none;
}

.channel-list {
    margin-top: 50px;
}

.channel {
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.channel-info {
    padding-left: 5px;
    flex-grow: 1;
}

.channel-thumb {
    width: 32px;
    height: 32px;
}

.channel-name {
    font-size: 108%;
}

.font-size-6 {
    font-size: 1.06em;
}

.btn-pressed {
    color: grey;
}

.text-muted {
    color: grey;
}

.alert {
    min-width: 380px;
    max-width: 430px;
    text-align: center;
    padding: 18px;
    overflow: auto;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.font-weight-bold {
    font-weight: bold !important;
}

.float-right-sm {
    float: right !important;
}

.justify-content-flex-end {
    justify-content: flex-end !important;
}

.d-sm-none {
    display: none;
}

.text-center {
    text-align: center !important;
}

.d-flex {
    display: flex !important;
}

.align-items-center {
    align-items: center !important;
}

.mr-1 {
    margin-right: .25rem !important;
}