body {
    background-color: #f8f9fa !important;
    margin-top: 10px;
}

.cursor-pointer {
    cursor: pointer !important;
}

.alert {
    position: fixed;
    max-width: 350px;
    padding: 10px;
    border: 1px solid gray;
    background-color: #EEEEEE;
    text-align: center;
    border-radius: 5px;
    z-index: 1501;
}

.channel-search {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 10px;
    border: 1px solid gray;
    z-index: 1002;
    background-color: white;
}

.channel {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.channel-list {
    margin-bottom: 50px;
}

.channel-thumb {
    width: 28px;
    height: 28px;
}

.channel-name {
    margin-left: 5px;
}

.channel-info {
    flex-grow: 1;
}

.channel-desc {
    font-size: .8em;
}

.blur {
    filter: blur(2px);
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1500;
}

table.table {
    width: 100%;
}

.hidden {
    display: none;
}

.space {
    margin-right: 2px;
}

.border-0 {
    border: 0px !important;
}

button {
    margin-left: 2px;
    margin-right: 2px;
}

.modal-title {
    width: 100%;
    position: relative;
}

.search-container {
    position: relative;
}

.search-feedback {
    position: absolute;
    right: .5rem;
    top: calc(50% - .5rem);
    pointer-events: none;
}

.support {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.support:hover {
    color: black !important;
}

.support svg {
    width: 40px;
    height: 40px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    flex-shrink: 0;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--blue);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--blue);
}

input:checked+.slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.list-group-option {
    display: flex;
    align-items: center;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}

.tooltip-parent {
    display: inline-block;
    position: relative;
}

.tooltip {
    display: none;
    white-space: nowrap;
    left: 25px;
    top: -2px;
}

.tooltip-inner {
    max-width: none !important;
}

.tooltip-parent:hover .tooltip {
    display: block;
    opacity: 0.9;
}

@media (min-width: 768px) {
    .d-md-table-header-group {
        display: table-header-group !important;
    }
}