doctype html
html(ng-app='uYtPlug')
	head
		title Settings - YouTube Whitelister for uBlock Origin
		script(type='text/javascript', src='/lib/angular.min.js')
		script(type='text/javascript', src='popup.js')
		link(rel='stylesheet', href='lib/font-awesome-5/css/fontawesome-all.min.css')
		link(rel='stylesheet', href='lib/bootstrap.min.css')
		link(rel="icon", href="/img/icon_16.png")
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		style(type='text/css').
			body{
				background-color: #f8f9fa!important;
				margin-top: 40px;
			}
			.alert{
				position: fixed;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				max-width: 350px;
				padding: 10px;
				border: 1px solid gray;
				background-color: #EEEEEE;
				text-align: center;
				border-radius: 5px;
				z-index: 1001;
			}
			.blur{
				filter: blur(2px);
			}
			.overlay{
				position: fixed;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: rgba(0, 0, 0, 0.5);
				z-index: 1000;
			}
			table{
				width: 100%;
			}
	body(ng-controller='main')
		.overlay(ng-show="alert.active")
		.alert(ng-show='alert.active')
			span.bold {{alert.text}}
			br
			br
			.align-right
				button.btn.btn-sm(type='button', ng-class="{'btn-danger': alert.confirmDanger, 'btn-primary': !alert.confirmDanger}", ng-click='alert.active = false;alert.confirm()') OK
				| 
				button.btn.btn-sm.btn-secondary(type='button', ng-show='alert.cancelButton', ng-click='alert.active = false;alert.reject()') Cancel
		.container(ng-class="{blur: alert.active}")
			button.btn.btn-primary(type="button", ng-click="refresh()", ng-mousedown='refreshPressed=true', ng-mouseup='refreshPressed=false')
				i.fas(ng-class="{'fa-circle-notch fa-spin': refreshPressed, 'fa-sync': !refreshPressed}")
				|  Refresh
			.import-export.float-right
				button.btn.btn-primary(type='button', ng-click='export()', title='Export settings to file')
					i.fas.fa-upload
					|  Export lists
				| 
				button.btn.btn-primary(type='button', ng-click='import()', title='Import settings from file')
					i.fas.fa-download
					|  Import lists
				| 
				button.btn.btn-danger.align-right(type='button', ng-click='clearsettings()', title='Clear all settings')
					i.fas.fa-trash
					|  Delete all
				input#import(type='file', accept=".json", on-file-change='import(true, $event)', ng-model='fileimport', style='display: none')
			hr
			.row
				.col-md
					h4
						| Whitelisted Channels

					table.table.table-striped.table-sm
						thead.thead-dark
							tr
								th Channel
								th Remove
						tr(ng-repeat='item in settings.whitelisted track by $index')
							td
								a(ng-href="{{'https://youtube.com/channel/' + item.id}}") {{item.display}}
							td
								a.text-danger.float-right(href='', ng-click='removewhite($index)', title='Remove from whitelist')
									i.fas.fa-minus-circle(aria-hidden='true')
						tr(ng-if='!settings.whitelisted.length')
							td.text-muted None.
							td
				.col-md
					h4 Blacklisted advertisers
					table.table.table-striped.table-sm
						thead.thead-dark
							tr
								th Advertiser
								th Remove
						tr(ng-repeat='item in settings.blacklisted track by $index')
							td
								a(ng-href="{{'https://youtube.com/channel/' + item.id}}") {{item.display}}
							td
								a.text-danger.float-right(href='', ng-click='removeblack($index)', title='Remove from blacklist')
									i.fas.fa-minus-circle(aria-hidden='true')
						tr(ng-if='!settings.blacklisted.length')
							td.text-muted None.
							td
					h4 Recently detected ads
					table.table.table-striped.table-sm
						thead.thead-dark
							tr
								th Advertiser
								th Status
								th Blacklist
						tr(ng-repeat="item in recentads | orderBy: '-' track by $index")
							td
								a(ng-href="{{'https://youtube.com/channel/' + item.channelId.id}}") {{item.channelId.display | limitTo:50}}
							td
								div(ng-if="item.blocked")
									i.fas.fa-video-slash
									|  Blocked
								div(ng-if="!item.blocked")
									i.fas.fa-video
									|  Allowed
							td
								a.text-danger.float-right(ng-click='addblack($index)', href='', title='Add to blacklist')
									i.fas.fa-ban(aria-hidden='true')
						tr(ng-if='!recentads.length')
							td.text-muted None.
							td
							td